.grid_content {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 3rem;
}

#photo {
  max-width: 30vw;
  min-width: 280px;
  transition: ease 200ms;
  align-self: center;
  margin: auto;
  display: content;
}

#photo:hover {
  border-radius: 6px;
  transform: translate(-2px, -2px);
  box-shadow: .5rem .5rem var(--primary);
}

#img {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .grid_content {
    display: block;
  }
}

.tech_list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: armenian;
}

