.project_tile {
  font-size: clamp(24px, 5vw, 28px);
  padding: .5rem;
}

.grid_project {
  display: grid;
  position: relative;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 10em;
}

.project_content {
  text-align: right;
  position: relative;
  grid-column: 7 / -1;
  grid-area: -1 / -1 / -1 / 7;
  z-index: 2;
}

.project_content_reverse {
  text-align: left;
  position: relative;
  grid-column: 1 / 7;
  grid-area: 1 / 1 / 1 / 7;
  z-index: 2;
}

.project_content ul, .project_content_reverse ul {
  list-style: none;
  padding: 0;
}

.project_image img, .project_image_reverse img {
  border-radius: 6px;
}

.project_image {
  position: relative;
  grid-column: 1 / 9;
  grid-area: 1 / 7 / 1 / 1;
  z-index: 1;
  transition: 200ms;
}

.project_image_reverse {
  position: relative;
  grid-column: 9 / -1;
  grid-area: -1 / -1 / -1 / 7;
  z-index: 1;
  transition: 200ms;
}

.project_image *, .project_image_reverse * {
  width: 100%;
  height: 100%;
}

.project_image:hover, .project_image_reverse:hover {
  z-index: 2;
  transform: scale(1.1);
}

  .project_content{
    grid-column: 5 / -1;
  }

  .project_content_reverse {
    grid-column: 1 / 9;
  }

.project_description {
  background-color: var(--border-color);
  padding: 1rem;
  transition: 200ms;
  box-shadow: 0 10px 8px -10px var(--shadow-color-2);
}

.project_description a {
  color: var(--primary);
}

.project_content .tech_list ul {
  display: flex;
  flex-direction: row-reverse;
}

.project_content_reverse .tech_list ul {
  display: flex;
  flex-direction: row;
}

.project_content .tech_list ul li, .project_content_reverse .tech_list ul li {
  padding: .5rem;
}

.project_links a {
  padding: 1rem;
  border-radius: 6px;
  font-weight: normal;
}

