.github_card {
  display: flex;
  background-color: var(--bg-secondady);
  align-items: center;
  max-width: max-content;
  gap: 1rem;
  padding: 1rem;
  border-radius: 6px;
  margin: auto;
  border: 1px solid var(--border-color);
  margin-bottom: 100px;
}

.github_card img {
  border-radius: 999px;
}

.user_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.profile_link {
  transition: 200ms;
  padding: 1rem 1.5rem;
  color: var(--primary);
  border-radius: 6px;
  border: 1px solid var(--border-color);
}

.profile_link:hover {
  background-color: var(--primary-btn);
  color: var(--color-light);
}

