.header {
  background-color: var(--bg-secondady);
  padding: .5rem 2rem;
  box-sizing: content-box;
}

.header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header div#logo {
  margin: 0;
  padding: 0;
  height: fit-content;
}

#logo_img {
  border-radius: 99px;
}

.sections {
  display: flex;
  align-items: center;
  font-size: small;
  font-weight: bold;
}

.sections > ol {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.sections li {
  counter-increment: i 1;
}

.sections ol li a:hover {
  text-decoration: underline;
  text-decoration-color: var(--primary);
}

.sections ol li a::before {
  content: '0' counter(i) ".";
  margin-right: 5px;
  color: var(--primary);
  font-weight: normal;
}

.sections a {
  padding: .5rem 1rem;
  margin: 0 .2rem;
}

a#preview_pdf {
  color: var(--primary);
  font-weight: bold;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: .8rem 1.5rem;
}

a#preview_pdf:hover {
  color: var(--color-light);
  background-color: var(--primary);
}
