.grid_content {
  display: grid;
  grid-template-columns: auto 1fr;
}

.grid_content * {
  transition: linear 200ms;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tabs button {
  padding: 1rem .5rem;
  font-family: var(--code-font);
  max-width: 10rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  color: var(--color);
}

.tabs div {
  border-right: 1px solid var(--border-color);
  border-radius: 6px 0 0 6px;
}

.tabs div:hover {
  background-color: var(--border-color);
}

.tabs_content {
  padding: 1rem;
}

.tabs_content h3 {
  color: var(--color-light);
}

.active_tab {
  display: block;
}

.inactive_tab {
  display: none;
}

.selected_tab {
  background-color: var(--primary-btn);
  border: none;
}

.selected_tab button {
  color: var(--color-light);
}

.tabs_content ul {
  list-style-type: square;
  line-height: 1.8;
}
